<html lang="en">
<body class="ng-scope" ng-app="auctioned" onload="typeof isMobile !== 'undefined' &amp;&amp; isMobile &amp;&amp; showMainPage()">
<!-- djlint:off --><div id="loading-page" style="display:none; position: absolute; height: 100vh; width: 100vw; top: 0; left: 0; background-color: white; text-align: center; line-height: 1.2; color: #4A5056;"><!-- djlint:on -->
<div class="lcp-element">IH</div>
<!-- djlint:off --><div style="text-align: center; margin-top: 160px; font-size: 48px; font-family: Arial; font-weight: 700;">Instahyre</div><!-- djlint:on -->
<div class="loading-dot-container">




</div>
<div class="summary-box">
<!-- djlint:off --><div style="font-size: 16px;">Loading...</div><!-- djlint:on -->
<div class="loading-page-summary">Find your dream job with InstahyreUnlock limitless career opportunities with lakhs of job openings in 10,000+ top companies.</div>
</div>
</div>
<!-- djlint:off --><div id="main-page" style="display: block;"><!-- djlint:on -->
<div class="employer-brand-page-wrap" id="wrap">
<nav class="navbar navbar-default navbar-fixed-top affix" data-offset-top="1" data-spy="affix" id="navigation" role="navigation">
<div class="container-fluid container-wrapper">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<a class="navbar-toggle" data-target="#collapse-navigation-links" data-toggle="collapse" type="button">
<span class="sr-only">Toggle navigation</span>



</a>
<a class="navbar-brand" href="/">

</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="collapse-navigation-links">
<ul class="nav navbar-nav navbar-right">
<li><a href="/invite/" id="nav-invite-friends">Invite friends</a></li>
<li><a href="/search-jobs/" id="nav-search-jobs">Find Jobs</a></li>
<li><a href="/login/" id="nav-user-login">Login</a></li>
<li><a href="/candidates/register/" id="nav-user-signup">Signup</a></li>
<li><a href="/employers/" id="nav-for-employers"><span>Employers</span></a></li>
</ul>
</div>
</div>
</nav>
<div class="ng-scope" growl="" id="messages"><div class="growl"> <!-- ngRepeat: message in messages --></div></div>
<div class="ng-scope" id="employer-profile" ng-controller="anonEmployerProfileCtrl">

<div class="container page-content detail-page">
<!-- Profile block -->
<div class="row employer-profile-row">
<!-- Profile Left Column -->
<div class="col-md-8 col-xs-12 print-full-width">
<!-- Profile Intro -->
<!-- djlint:off --><div class="profile-block image-block clearfix" ng-style="newBrandPageEnabled ? (isOpenedInMobile ? {'display': 'flex', 'flex-direction': 'column', 'min-height': '146px', 'padding-bottom': '25px'} : {'min-height': '146px', 'padding-bottom': '34px'}) : {}"><!-- djlint:on -->
<!-- djlint:off --><div class="col-sm-3 col-xs-12 profile-image nophoto" id="profile-image" ng-class="{'nophoto': !profile_image}" ng-style="newBrandPageEnabled ? {'padding-right': '0px', 'height': '86px', 'width': '86px'} : {}"><!-- djlint:on -->
<div class="thumbnail ng-scope no-print" ng-class="{'no-print': !profile_image}" ng-controller="profileImageCtrl">
<!-- ngIf: !profile_image --><!-- end ngIf: !profile_image --><!-- ngIf: profile_image -->
</div>
</div>
<div class="col-sm-9 col-xs-12 summary">
<h1 class="title-1 ng-binding">Revival Rugs Careers</h1>
<h3 class="title-2 ng-binding">California Based E-Commerce Company</h3>
<h3 class="title-3 ng-binding">Oakland, California</h3>
</div>
</div>
<!-- ngIf: editors.aboutCompany -->
<div class="content-block">
<!-- Company Facts -->
<div class="apply-section-top">
<div class="text-center">
<a class="btn btn-success btn-lg wrap-line" id="apply-btn-top" ng-click="setPostAuthRedirectionUrl()" type="button">Apply to Revival Rugs »</a>
</div>
</div>
<!-- ngIf: employer.summary --><div class="ng-scope" ng-if="employer.summary">
<div api-url="/api/v1/employer_summary/12293" auctioned-editor="" class="profile-block ng-pristine ng-valid" editor-model="summary_editor" enabled="false" id="employer-summary" ng-class="{'no-print': !employer.summary}" ng-model="employer">
<h2 class="profile-block-heading ng-binding" ng-click="toggleSection('about')">
            About Revival Rugs<!-- ngIf: isOpenedInMobile -->
</h2>
<!-- ngIf: !summary_editor.enabled --><div class="profile-editor-closed ng-scope" ng-if="!summary_editor.enabled">
<!-- ngIf: employer.summary && (!isOpenedInMobile || showSections.about) --><div class="profile-content ng-scope" ng-if="employer.summary &amp;&amp; (!isOpenedInMobile || showSections.about)">
<p class="quill-formatted ng-binding" ng-bind-html="employer.summary | newlines | unsafe"><p>Revival Rugs works hand-in-hand with master craftsmen to source one-of-a-kind vintage rugs.</p> <p></p> <p>We create authentic shopping experiences for customers, and provide pricing that customers wouldn't find if they travelled halfway around the world.</p> <p></p> <p>Our curated collection is handpicked and delivered directly to your doorstep at prices that make sense. No middlemen. No retail markups.</p></p>
</div><!-- end ngIf: employer.summary && (!isOpenedInMobile || showSections.about) -->
</div><!-- end ngIf: !summary_editor.enabled -->
<!--Add/edit Description modal-->
<div class="application-modal sidebar-block-expand ng-hide" id="employer-summary-modal" ng-show="addSummaryModal">
<div class="application-modal-block">

<div class="application-modal-wrap">
<div class="edit-modal-heading">
<span>About Company</span>
</div>
<form class="ng-pristine ng-valid" name="employer_summary">
<div class="form-group">
<label>
                            Write a description for your company
                        </label>

</div>
<div class="row action-block">
<div class="col-xs-12 edit-modal-buttons">
<button class="btn btn-primary save" id="employer-social-save-btn" ng-click="saveEmployerSummary()" type="submit">Save Changes</button>
<button class="btn btn-default" id="employer-social-cancel-btn" ng-click="toggleSummaryModal(true)" type="reset">Cancel</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div><!-- end ngIf: employer.summary -->
<!-- ngIf: employer.office_photos && employer.office_photos.length --><div class="ng-scope" ng-if="employer.office_photos &amp;&amp; employer.office_photos.length">
<div class="profile-block ng-scope" id="office-photos" ng-controller="officePhotosCtrl">
<h2 class="profile-block-heading ng-binding" ng-click="toggleSection('photos')">
                Revival Rugs Office and Product Photos<!-- ngIf: isOpenedInMobile -->
</h2>
<div class="profile-editor-closed">
<!-- ngIf: employer.office_photos.length > 0 && (!isOpenedInMobile || showSections.photos) --><div class="office-photos-block ng-scope" ng-if="employer.office_photos.length &gt; 0 &amp;&amp; (!isOpenedInMobile || showSections.photos)">
<div class="row">
<!-- ngRepeat: photo in employer.office_photos --><div class="office-photo-wrap col-md-4 col-sm-4 col-xs-6 ng-scope" ng-repeat="photo in employer.office_photos">
<div class="office-photo-border-wrap">
<div class="office-photo-height-wrap" ng-click="photoClicked()">
<a data-lightbox="office-photos" href="https://media.instahyre.com/CACHE/images/images/office-photos/base/12293/5474245144/1_In_context/63689eb8bc923a1ccc74e4ce40360de3.webp" maxheight="1024" maxwidth="1024" ng-href="https://media.instahyre.com/CACHE/images/images/office-photos/base/12293/5474245144/1_In_context/63689eb8bc923a1ccc74e4ce40360de3.webp">

</a>
</div>
</div>
</div><!-- end ngRepeat: photo in employer.office_photos --><div class="office-photo-wrap col-md-4 col-sm-4 col-xs-6 ng-scope" ng-repeat="photo in employer.office_photos">
<div class="office-photo-border-wrap">
<div class="office-photo-height-wrap" ng-click="photoClicked()">
<a data-lightbox="office-photos" href="https://media.instahyre.com/CACHE/images/images/office-photos/base/12293/2eb6128bbd/1_Overhead_shot/c420c90ffb46f27b4aae9c193ffc0f6b.webp" maxheight="1024" maxwidth="1024" ng-href="https://media.instahyre.com/CACHE/images/images/office-photos/base/12293/2eb6128bbd/1_Overhead_shot/c420c90ffb46f27b4aae9c193ffc0f6b.webp">

</a>
</div>
</div>
</div><!-- end ngRepeat: photo in employer.office_photos --><div class="office-photo-wrap col-md-4 col-sm-4 col-xs-6 ng-scope" ng-repeat="photo in employer.office_photos">
<div class="office-photo-border-wrap">
<div class="office-photo-height-wrap" ng-click="photoClicked()">
<a data-lightbox="office-photos" href="https://media.instahyre.com/CACHE/images/images/office-photos/base/12293/394bd3ee4f/2_close_up/30f4bf872a74dd57f28c635762834d07.webp" maxheight="1024" maxwidth="1024" ng-href="https://media.instahyre.com/CACHE/images/images/office-photos/base/12293/394bd3ee4f/2_close_up/30f4bf872a74dd57f28c635762834d07.webp">

</a>
</div>
</div>
</div><!-- end ngRepeat: photo in employer.office_photos --><div class="office-photo-wrap col-md-4 col-sm-4 col-xs-6 ng-scope" ng-repeat="photo in employer.office_photos">
<div class="office-photo-border-wrap">
<div class="office-photo-height-wrap" ng-click="photoClicked()">
<a data-lightbox="office-photos" href="https://media.instahyre.com/CACHE/images/images/office-photos/base/12293/542f8026cb/2_In_context/2777170bad50145676cc07108c7c00e8.webp" maxheight="1024" maxwidth="1024" ng-href="https://media.instahyre.com/CACHE/images/images/office-photos/base/12293/542f8026cb/2_In_context/2777170bad50145676cc07108c7c00e8.webp">

</a>
</div>
</div>
</div><!-- end ngRepeat: photo in employer.office_photos --><div class="office-photo-wrap col-md-4 col-sm-4 col-xs-6 ng-scope" ng-repeat="photo in employer.office_photos">
<div class="office-photo-border-wrap">
<div class="office-photo-height-wrap" ng-click="photoClicked()">
<a data-lightbox="office-photos" href="https://media.instahyre.com/CACHE/images/images/office-photos/base/12293/64e7eec67f/2_Overhead/a18dc75ab8930cf12de53a36a6139141.webp" maxheight="1024" maxwidth="1024" ng-href="https://media.instahyre.com/CACHE/images/images/office-photos/base/12293/64e7eec67f/2_Overhead/a18dc75ab8930cf12de53a36a6139141.webp">

</a>
</div>
</div>
</div><!-- end ngRepeat: photo in employer.office_photos -->
</div>
</div><!-- end ngIf: employer.office_photos.length > 0 && (!isOpenedInMobile || showSections.photos) -->
</div>
</div>
</div><!-- end ngIf: employer.office_photos && employer.office_photos.length -->
<!-- ngIf: employer.why_us --><div class="ng-scope" ng-if="employer.why_us">
<div api-url="/api/v1/employer_whyus/12293" auctioned-editor="" class="profile-block ng-pristine ng-valid" editor-model="whyus_editor" enabled="false" id="why-us" ng-class="{'no-print': !employer.why_us}" ng-model="employer">
<h2 class="profile-block-heading ng-binding" ng-click="toggleSection('whyUs')">
            Why Explore a Career at Revival Rugs<!-- ngIf: isOpenedInMobile -->
</h2>
<!-- ngIf: !whyus_editor.enabled --><div class="profile-editor-closed ng-scope" ng-if="!whyus_editor.enabled">
<!-- ngIf: employer.why_us && (!isOpenedInMobile || showSections.whyUs) --><div class="profile-content ng-scope" ng-if="employer.why_us &amp;&amp; (!isOpenedInMobile || showSections.whyUs)">
<p class="quill-formatted why-us-text ng-binding" ng-bind-html="employer.why_us | newlines | unsafe"><ul><li>Experience working at a fast growing California based eCommerce start-up.</li> <li>Work closely with talented people across different countries - USA, Turkey.</li> <li>Develop insights on international brands, designs and products.</li> <li>Learn to multitask and prioritize by handling varied tasks.</li></ul></p>
</div><!-- end ngIf: employer.why_us && (!isOpenedInMobile || showSections.whyUs) -->
</div><!-- end ngIf: !whyus_editor.enabled -->
<!--Add/edit Description modal-->
<div class="application-modal sidebar-block-expand ng-hide" id="employer-summary-modal" ng-show="addWhyUsModal">
<div class="application-modal-block">

<div class="application-modal-wrap">
<div class="edit-modal-heading">
<span class="ng-binding">Career at Revival Rugs</span>
</div>
<form class="ng-pristine ng-valid" name="employer_whyus">
<div class="form-group">
<label class="ng-binding">
                            Why Explore a Career at Revival Rugs
                        </label>

</div>
<div class="row action-block">
<div class="col-xs-12 edit-modal-buttons">
<button class="btn btn-primary save" id="employer-social-save-btn" ng-click="saveEmployerWhyUs()" type="submit">Save Changes</button>
<button class="btn btn-default" id="employer-social-cancel-btn" ng-click="toggleWhyUsModal(true)" type="reset">Cancel</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div><!-- end ngIf: employer.why_us -->
<!-- ngIf: employer.interview_process --><div class="ng-scope" ng-if="employer.interview_process">
<div api-url="/api/v1/employer_interview_process/12293" auctioned-editor="" class="profile-block ng-pristine ng-valid" editor-model="interview_process_editor" enabled="false" id="interview_process" ng-class="{'no-print': !employer.interview_process}" ng-model="employer">
<h2 class="profile-block-heading ng-binding" ng-click="toggleSection('interviewProcess')">
        Revival Rugs Interview Process<!-- ngIf: isOpenedInMobile -->
</h2>
<!-- ngIf: !interview_process_editor.enabled --><div class="profile-editor-closed ng-scope" ng-if="!interview_process_editor.enabled">
<!-- ngIf: employer.interview_process && (!isOpenedInMobile || showSections.interviewProcess) --><div class="profile-content ng-scope" ng-if="employer.interview_process &amp;&amp; (!isOpenedInMobile || showSections.interviewProcess)">
<p class="quill-formatted ng-binding" ng-bind-html="employer.interview_process | newlines | unsafe"><ul><li>Application - Resume and supporting documents.</li> <li>Interview with India office.</li> <li>Telephonic interview with US office.</li></ul></p>
</div><!-- end ngIf: employer.interview_process && (!isOpenedInMobile || showSections.interviewProcess) -->
</div><!-- end ngIf: !interview_process_editor.enabled -->
</div>
</div><!-- end ngIf: employer.interview_process -->
<!-- ngIf: employer.benefits && employer.benefits.length --><div class="ng-scope" ng-if="employer.benefits &amp;&amp; employer.benefits.length">
<div api-url="/api/v1/employer_benefits/12293" auctioned-editor="" class="profile-block ng-pristine ng-valid" editor-model="benefits_editor" enabled="false" id="benefits" ng-class="{'no-print': employer.benefits.length===0}" ng-model="employer">
<h2 class="profile-block-heading ng-binding" ng-click="toggleSection('benefits')">
            Benefits at Revival Rugs<!-- ngIf: isOpenedInMobile -->
</h2>
<!-- ngIf: !benefits_editor.enabled --><div class="ng-scope" ng-if="!benefits_editor.enabled">
<!-- ngIf: employer.benefits.length > 0 && (!isOpenedInMobile || showSections.benefits) --><div class="profile-content benefits-container ng-scope" ng-if="employer.benefits.length &gt; 0 &amp;&amp; (!isOpenedInMobile || showSections.benefits)">
<p>
<!-- ngRepeat: benefit in employer.benefits track by $index --><!-- ngIf: !$last --><!-- end ngRepeat: benefit in employer.benefits track by $index -->
<!-- ngRepeat: benefit in employer.benefits track by $index --><!-- ngIf: $last --><span class="ng-binding ng-scope" ng-if="$last" ng-repeat="benefit in employer.benefits track by $index">
                            30 work from home days
                        </span><!-- end ngIf: $last --><!-- end ngRepeat: benefit in employer.benefits track by $index -->
</p>
</div><!-- end ngIf: employer.benefits.length > 0 && (!isOpenedInMobile || showSections.benefits) -->
</div><!-- end ngIf: !benefits_editor.enabled -->
</div>
</div><!-- end ngIf: employer.benefits && employer.benefits.length -->
<!-- ngIf: employer.social_accounts --><!-- end ngIf: employer.social_accounts -->
<!-- ngIf: employer.tech_stack --><!-- end ngIf: employer.tech_stack -->
</div>
</div>
<!-- Sidebar -->
<!-- Employer profile sidebar for anonymous user -->
<div class="sidebar col-md-4 col-xs-12 col-md-offset-0 no-print">
<div class="apply-button-sidebar sidebar-block text-center">
<div id="apply-btn-sidebar">
<div class="text-center">
<a class="btn btn-success btn-lg wrap-line" id="" ng-click="setPostAuthRedirectionUrl()" type="button">Apply to Revival Rugs »</a>
</div>
</div>
<p class="anon-apply-text">Let 10,000+ high quality companies compete to hire you!</p>
</div>
<!-- Recruiter Description -->
<!-- Similar Jobs -->
<!-- ngIf: jobs.length --><div class="sidebar-block ng-scope" ng-if="jobs.length">
<div class="profile-block" id="similar-jobs">
<h5 class="profile-block-heading ng-binding">
                Jobs at Revival Rugs
            </h5>
<!-- ngRepeat: job in randomizeJobs | orderBy : 'rank' | limitTo: SIDEBAR_SIMILAR_JOB_LIMIT --><!-- ngIf: !employer.jobs.length --><div class="similar-job cursor-pointer ng-scope" ng-if="!employer.jobs.length" ng-repeat="job in randomizeJobs | orderBy : 'rank' | limitTo: SIDEBAR_SIMILAR_JOB_LIMIT">
<a href="/job-313175-sales-manager-at-revival-rugs-gurgaon/" ng-href="/job-313175-sales-manager-at-revival-rugs-gurgaon/" target="_blank">

</a>
<a href="/job-313175-sales-manager-at-revival-rugs-gurgaon/" ng-href="/job-313175-sales-manager-at-revival-rugs-gurgaon/" target="_blank">
<span class="job-info ng-binding">
<strong class="ng-binding">Sales Manager</strong>
        Revival Rugs
<span class="location ng-binding">Gurgaon</span>
</span>
</a>
</div><!-- end ngIf: !employer.jobs.length --><!-- end ngRepeat: job in randomizeJobs | orderBy : 'rank' | limitTo: SIDEBAR_SIMILAR_JOB_LIMIT -->
<!-- ngRepeat: job in orderedCategoryJobs | orderBy : 'rank' | limitTo: SIDEBAR_SIMILAR_JOB_LIMIT -->
<!-- ngRepeat: job in orderedNonCategoryJobs | orderBy: 'rank' | limitTo: SIDEBAR_SIMILAR_JOB_LIMIT - category_jobs.length -->
<!-- ngIf: employer.jobs_count > SIDEBAR_SIMILAR_JOB_LIMIT -->
</div>
</div><!-- end ngIf: jobs.length -->
</div>
</div>
</div>
</div>
<!-- CLS related change. `#push` element is not required for "job-search page", "job-details page" and "employer-profile page" for anonymous users. -->
</div>

<!-- djlint:off --><div class="application-modal contact-modal" id="anonymous-contact-modal" style="display: none;"><!-- djlint:on -->
<div class="application-modal-block">

<div class="application-modal-wrap">
<div class="application-modal-heading">
<h4 id="anonymous-modal-heading">Contact Us</h4>
</div>
<!-- This form is for anonymous user -->
<form action="" class="ng-pristine ng-valid" enctype="multipart/form-data" method="post" name="anonymous-query">
<div class="application-modal-content">
<div class="row">
<div class="col-sm-12">
<div class="form-group">
<label>
                        Message / Query:
                    </label>

</div>
</div>
<div class="col-sm-12">
<div class="form-group">
<label>
                        Your name:
                    </label>

</div>
</div>
<div class="col-sm-12">
<div class="form-group">
<label>
                        Your email address:
                    </label>

</div>
</div>
<div class="col-sm-12">
<div class="form-group">
<label>
                        Your phone number:
                    </label>
<div class="phone-group">


</div>
</div>
</div>
<div class="col-sm-12">
<label>Please attach screenshots if you are facing technical issues: </label>

<label for="anonymous-attachments">Click or drop files here</label>
<ul class="tags tag-keywords" id="attachments-list">
</ul>
</div>

<!-- Buttons -->
<div class="application-modal-action text-center">
<button class="btn btn-default close-form" type="button">Cancel</button>
<button class="btn btn-primary anonymous_submit" type="submit">Submit </button>
</div>
</div>
</div>
</form>
<div id="anonymous-success-message" style="display: none;">
<div class="application-modal-content">
<center>One of our representatives will contact you shortly.</center>
</div>
<div class="application-modal-action text-center">
<button class="btn btn-default close-form">Close</button>
</div>
</div>
<div id="anonymouserror-message" style="display: none;">
<div class="application-modal-content">
<center>Something went wrong. Please refresh the page or try again later.</center>
</div>
<div class="application-modal-action text-center">
<button class="btn btn-default close-form">Close</button>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="application-modal candidate-apply-all-modal ng-scope ng-hide" ng-controller="applyBulkCtrl" ng-show="modalParams.showApplyBulkModal">
<div class="application-modal-block">

<div class="application-modal-wrap">
<div class="application-modal-heading">
<h4 class="ng-binding">Want to apply to other similar jobs at ?</h4>
</div>
<div class="content">
<div class="instructions ng-binding">Application successful - but wait, there are  other jobs at  that match your profile. If you want to apply to any of them, just select them below:</div>
<div class="bulk-apply">
<!-- ngRepeat: oppValue in oppValues track by $index -->
</div>
</div>
<div class="content text-center top-margin">
<div class="row">
<div class="col-sm-4 col-xs-6 col-sm-offset-2">
<button class="btn btn-lg btn-success" disabled="disabled" ng-click="applyBulk()" ng-disabled="!oppValues">Apply</button>
</div>
<div class="col-sm-4 col-xs-6">
<button class="btn btn-lg btn-default back-button-modal-close" ng-click="applyBulkCancel()">Cancel</button>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Javascript -->
<!-- Google tag (gtag.js) -->
<!--End of Google Analytics Script-->
<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->
<!-- Google Tag Manager (noscript) -->
<!-- djlint:off -->
<noscript>

</noscript>
<!-- djlint:on -->
<!-- End Google Tag Manager (noscript) -->
<!-- Usetiful -->
<!-- End Usetiful -->
<!-- Re-integration modal -->
<!-- End Re-integration modal -->
<!-- Leaderboard new achievement modals -->
<!-- Google Schema code -->
<!-- End of Google Schema code -->
<!-- LinkedIn Insights tag -->
<noscript>
<!-- djlint:off --><!-- djlint:on -->
</noscript>
<!-- End of LinkedIn Insights tag -->
<!-- Center all modals -->
<!--Start of Sentry SDK Config - needs to be below angular declaration, but above application code declaration-->
<!--End of Sentry Config-->
<!--Common Js files-->
<div class="lightbox" id="lightbox" style="display: none;"><div class="lb-outerContainer"><div class="lb-container"><div class="lb-closeContainer"></div><div class="lb-nav"></div><div class="lb-loader"></div></div></div><div class="lb-dataContainer"><div class="lb-data"><div class="lb-details"></div></div></div></div></body></html>