<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LittleBirds.io Job Updates</title>
</head>
<body style="font-family: 'Arial', sans-serif; background-color: #ffffff; color: #333;">
<div class=""><div class="aHl"></div><div id=":27" tabindex="-1"></div><div id=":2h" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc5NDI0NjUxNjA1NDY3NzA3NyJd; 4:WyIjbXNnLWY6MTc5NDI0NjUxNjA1NDY3NzA3NyJd"><div id=":2i" class="a3s aiL "><div class="adM">






</div><div style="font-family:'Arial',sans-serif;background-color:#ffffff;color:#333"><div class="adM">
</div><div style="background-color:#e8f4f8;padding:20px;margin:20px auto;border-radius:8px;max-width:1200px"><div class="adM">
</div><h2 style="color:#327ab7">Latest Chirps from LittleBirds.io!</h2>
    <p>New opportunities waiting for you to seize them:</p>

    <div style="background-color:#ffffff;padding:15px;border-radius:5px;margin-bottom:20px">
        <div style="color:#327ab7;font-size:20px;font-weight:bold;margin-bottom:15px">Affirm</div>
        <div>Last time we emailed you about Affirm 03-20-2024</div>
        <table style="width:100%;border-collapse:collapse">
            <thead>
            <tr>
                <th style="padding:8px;text-align:left;border-bottom:1px solid #eee"></th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">Relevant Jobs</th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">All Jobs</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">Today</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">3</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">14</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This week</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">8</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">21</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This month</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">38</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">84</td>
            </tr>
            </tbody>
        </table>
        <ul>
            <li><a href="https://boards.greenhouse.io/affirm/jobs/5917557003" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/affirm/jobs/5917557003&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw1F3P6nUkN9PTU-Xptss5o5">Senior Software Engineer (Online Storage SRE)</a></li>
            <li><a href="https://boards.greenhouse.io/affirm/jobs/5794710003" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/affirm/jobs/5794710003&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw0xihffOuS0TqbkH9r5qg87">Software Engineering Intern - Summer 2024</a></li>
            <li><a href="https://boards.greenhouse.io/affirm/jobs/5794722003" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/affirm/jobs/5794722003&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw3YS2IgRp4aWu9hYePgcQ96">Software Engineering Intern - Summer 2024</a></li>
        </ul>
    </div>


    <div style="background-color:#ffffff;padding:15px;border-radius:5px;margin-bottom:20px">
        <div style="color:#327ab7;font-size:20px;font-weight:bold;margin-bottom:15px">Square</div>
        <div>Last time we emailed you about Square 03-21-2024</div>
        <table style="width:100%;border-collapse:collapse">
            <thead>
            <tr>
                <th style="padding:8px;text-align:left;border-bottom:1px solid #eee"></th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">Relevant Jobs</th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">All Jobs</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">Today</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">1</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">1</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This week</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">13</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">13</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This month</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">50</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">50</td>
            </tr>
            </tbody>
        </table>
        <ul>
            <li><a href="https://jobs.smartrecruiters.com/Square/743999975535463-staff-software-engineer-cryptography-bitkey" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://jobs.smartrecruiters.com/Square/743999975535463-staff-software-engineer-cryptography-bitkey&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw1YZJ_jIC7d8G_vZktmqWux">Staff Software Engineer (Cryptography), Bitkey</a></li>
        </ul>
    </div>


    <div style="background-color:#ffffff;padding:15px;border-radius:5px;margin-bottom:20px">
        <div style="color:#327ab7;font-size:20px;font-weight:bold;margin-bottom:15px">Vonage</div>
        <div>Last time we emailed you about Vonage 03-19-2024</div>
        <table style="width:100%;border-collapse:collapse">
            <thead>
            <tr>
                <th style="padding:8px;text-align:left;border-bottom:1px solid #eee"></th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">Relevant Jobs</th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">All Jobs</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">Today</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">1</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">7</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This week</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">2</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">18</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This month</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">22</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">100</td>
            </tr>
            </tbody>
        </table>
        <ul>
            <li><a href="https://boards.greenhouse.io/vonage/jobs/7055202002" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/vonage/jobs/7055202002&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw1Wkx2N8VWzAnKIGHZrEh66">Staff Java Software Developer (BSS)</a></li>
        </ul>
    </div>


    <div style="background-color:#ffffff;padding:15px;border-radius:5px;margin-bottom:20px">
        <div style="color:#327ab7;font-size:20px;font-weight:bold;margin-bottom:15px">8x8</div>
        <div>Last time we emailed you about 8x8 03-20-2024</div>
        <table style="width:100%;border-collapse:collapse">
            <thead>
            <tr>
                <th style="padding:8px;text-align:left;border-bottom:1px solid #eee"></th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">Relevant Jobs</th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">All Jobs</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">Today</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">2</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">4</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This week</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">3</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">12</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This month</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">4</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">33</td>
            </tr>
            </tbody>
        </table>
        <ul>
            <li><a href="https://8x8inc.wd5.myworkdayjobs.com/en-US/8x8_External_Careers/job/Fuze-Portugal---Aveiro-Office/Senior-Software-Engineer_R391" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://8x8inc.wd5.myworkdayjobs.com/en-US/8x8_External_Careers/job/Fuze-Portugal---Aveiro-Office/Senior-Software-Engineer_R391&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw1vp0PwDPz2pnlmfZTyXWOZ">Senior Software Engineer</a></li>
            <li><a href="https://8x8inc.wd5.myworkdayjobs.com/en-US/8x8_External_Careers/job/Fuze-Portugal---Aveiro-Office/Software-Engineer_R392" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://8x8inc.wd5.myworkdayjobs.com/en-US/8x8_External_Careers/job/Fuze-Portugal---Aveiro-Office/Software-Engineer_R392&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw1Lu1k3MFfqiiXBgtPPSDWr">Software Engineer</a></li>
        </ul>
    </div>


    <div style="background-color:#ffffff;padding:15px;border-radius:5px;margin-bottom:20px">
        <div style="color:#327ab7;font-size:20px;font-weight:bold;margin-bottom:15px">Comcast Business</div>
        <div>Last time we emailed you about Comcast Business 03-20-2024</div>
        <table style="width:100%;border-collapse:collapse">
            <thead>
            <tr>
                <th style="padding:8px;text-align:left;border-bottom:1px solid #eee"></th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">Relevant Jobs</th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">All Jobs</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">Today</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">1</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">9</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This week</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">3</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">41</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This month</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">9</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">144</td>
            </tr>
            </tbody>
        </table>
        <ul>
            <li><a href="https://jobs.comcast.com/jobs/description?external_or_internal=External&amp;job_id=R378356" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://jobs.comcast.com/jobs/description?external_or_internal%3DExternal%26job_id%3DR378356&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw02rRv1tHLqwUBy_rtgtFfw">Comcast Cybersecurity: IoT Software Developer</a></li>
        </ul>
    </div>


    <div style="background-color:#ffffff;padding:15px;border-radius:5px;margin-bottom:20px">
        <div style="color:#327ab7;font-size:20px;font-weight:bold;margin-bottom:15px">Spectrum Partner Program</div>
        <div>Last time we emailed you about Spectrum Partner Program 03-21-2024</div>
        <table style="width:100%;border-collapse:collapse">
            <thead>
            <tr>
                <th style="padding:8px;text-align:left;border-bottom:1px solid #eee"></th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">Relevant Jobs</th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">All Jobs</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">Today</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">1</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">4</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This week</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">4</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">13</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This month</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">27</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">122</td>
            </tr>
            </tbody>
        </table>
        <ul>
            <li><a href="https://jobs.spectrum.com/job/greenwood-village/software-engineer-iii-devops-production-engineer/4673/60425832288" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://jobs.spectrum.com/job/greenwood-village/software-engineer-iii-devops-production-engineer/4673/60425832288&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw11rpUREAWIjANJ0Dn2v6Z9">Software Engineer III - DevOps Production Engineer</a></li>
        </ul>
    </div>


    <div style="background-color:#ffffff;padding:15px;border-radius:5px;margin-bottom:20px">
        <div style="color:#327ab7;font-size:20px;font-weight:bold;margin-bottom:15px">DocStar an Epicor solution</div>
        <div>Last time we emailed you about DocStar an Epicor solution 03-20-2024</div>
        <table style="width:100%;border-collapse:collapse">
            <thead>
            <tr>
                <th style="padding:8px;text-align:left;border-bottom:1px solid #eee"></th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">Relevant Jobs</th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">All Jobs</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">Today</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">1</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">5</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This week</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">5</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">21</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This month</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">15</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">66</td>
            </tr>
            </tbody>
        </table>
        <ul>
            <li><a href="https://jobs.epicor.com/careers/JobDetail/Product-QA-Developer-Sr/23891" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://jobs.epicor.com/careers/JobDetail/Product-QA-Developer-Sr/23891&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw30YxNeDo4rsqPqtVftPGIa">Senior Product QA Developer-AI/ML</a></li>
        </ul>
    </div>


    <div style="background-color:#ffffff;padding:15px;border-radius:5px;margin-bottom:20px">
        <div style="color:#327ab7;font-size:20px;font-weight:bold;margin-bottom:15px">Acronis, Inc.</div>
        <div>Last time we emailed you about Acronis, Inc. 03-15-2024</div>
        <table style="width:100%;border-collapse:collapse">
            <thead>
            <tr>
                <th style="padding:8px;text-align:left;border-bottom:1px solid #eee"></th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">Relevant Jobs</th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">All Jobs</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">Today</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">6</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">10</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This week</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">6</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">15</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This month</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">7</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">51</td>
            </tr>
            </tbody>
        </table>
        <ul>
            <li><a href="https://boards.greenhouse.io/acronis/jobs/7297922002" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/acronis/jobs/7297922002&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw1qrXLhkU8HFLJsSOJmO0s9">Data Engineer / Python Developer</a></li>
            <li><a href="https://boards.greenhouse.io/acronis/jobs/7297926002" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/acronis/jobs/7297926002&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw0ojgYTWmrCyU92pG2rlR6x">Data Engineer / Python Developer</a></li>
            <li><a href="https://boards.greenhouse.io/acronis/jobs/7297915002" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/acronis/jobs/7297915002&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw0dOJvx08pnSjTxsFJ6SYPB">Data Engineer / Python Developer</a></li>
            <li><a href="https://boards.greenhouse.io/acronis/jobs/7297920002" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/acronis/jobs/7297920002&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw2H7sB2MvTBTChLeGS7Bopv">Data Engineer / Python Developer</a></li>
            <li><a href="https://boards.greenhouse.io/acronis/jobs/7293346002" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/acronis/jobs/7293346002&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw0ls34K3TPhvYUXbytm9O6I">Data Engineer / Python Developer</a></li>
            <li><a href="https://boards.greenhouse.io/acronis/jobs/7297921002" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/acronis/jobs/7297921002&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw14ISrqPASPpnIBgjo_ObAh">Data Engineer / Python Developer</a></li>
        </ul>
    </div>


    <div style="background-color:#ffffff;padding:15px;border-radius:5px;margin-bottom:20px">
        <div style="color:#327ab7;font-size:20px;font-weight:bold;margin-bottom:15px">Genesys</div>
        <div>Last time we emailed you about Genesys 03-21-2024</div>
        <table style="width:100%;border-collapse:collapse">
            <thead>
            <tr>
                <th style="padding:8px;text-align:left;border-bottom:1px solid #eee"></th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">Relevant Jobs</th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">All Jobs</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">Today</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">1</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">1</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This week</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">3</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">6</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This month</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">27</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">36</td>
            </tr>
            </tbody>
        </table>
        <ul>
            <li><a href="https://genesys.wd1.myworkdayjobs.com/en-US/Genesys/job/Budapest-Flexible/Senior-Software-Engineer_JR103770-2?jobFamilyGroup=0b40e66ca32e1025ac5265e727b00002" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://genesys.wd1.myworkdayjobs.com/en-US/Genesys/job/Budapest-Flexible/Senior-Software-Engineer_JR103770-2?jobFamilyGroup%3D0b40e66ca32e1025ac5265e727b00002&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw0m43RKNPRdKw9LUWsOn0iF">Senior Software Engineer</a></li>
        </ul>
    </div>


    <div style="background-color:#ffffff;padding:15px;border-radius:5px;margin-bottom:20px">
        <div style="color:#327ab7;font-size:20px;font-weight:bold;margin-bottom:15px">KORE</div>
        <div></div>
        <table style="width:100%;border-collapse:collapse">
            <thead>
            <tr>
                <th style="padding:8px;text-align:left;border-bottom:1px solid #eee"></th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">Relevant Jobs</th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">All Jobs</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">Today</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">1</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">1</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This week</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">1</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">3</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This month</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">4</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">13</td>
            </tr>
            </tbody>
        </table>
        <ul>
            <li><a href="https://jobs.jobvite.com/korewireless/job/oP3ksfwo" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://jobs.jobvite.com/korewireless/job/oP3ksfwo&amp;source=gmail&amp;ust=1713953035974000&amp;usg=AOvVaw39YdugWzemoxKi9noEG5pz">Staff Software Engineer</a></li>
        </ul>
    </div>


    <div style="background-color:#ffffff;padding:15px;border-radius:5px;margin-bottom:20px">
        <div style="color:#327ab7;font-size:20px;font-weight:bold;margin-bottom:15px">1Password</div>
        <div>Last time we emailed you about 1Password 03-20-2024</div>
        <table style="width:100%;border-collapse:collapse">
            <thead>
            <tr>
                <th style="padding:8px;text-align:left;border-bottom:1px solid #eee"></th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">Relevant Jobs</th>
                <th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">All Jobs</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">Today</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">1</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">5</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This week</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">2</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">10</td>
            </tr>
            <tr>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This month</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">6</td>
                <td style="padding:8px;text-align:left;border-bottom:1px solid #eee">40</td>
            </tr>
            </tbody>
        </table>
        <ul>
            <li><a href="https://jobs.lever.co/1password/e127e957-c140-4063-afda-63a5d79b4a6a" style="color:#327ab7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://jobs.lever.co/1password/e127e957-c140-4063-afda-63a5d79b4a6a&amp;source=gmail&amp;ust=1713953035974000&amp;usg=AOvVaw0OUFiUdNFqR2E9vZuJHdij">Full Stack Developer, Admin Experience</a></li>
        </ul>
    </div>



    <div style="text-align:center;margin-top:20px;font-size:12px;color:#777">
        <p>Thank you for using LittleBirds.io.</p><div class="yj6qo"></div><div class="adL">
    </div></div><div class="adL">
    </div></div><div class="adL">
</div></div><div class="adL">

</div></div></div><div class="WhmR8e" data-hash="0"></div></div>
</body>
</html>
