<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>LittleBirds.io Job Updates</title>
</head>
<body style="font-family: 'Arial', sans-serif; background-color: #ffffff; color: #333;">
<div class=""><div class="aHl"></div><div id=":27" tabindex="-1"></div><div class="ii gt" id=":2h" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc5NDI0NjUxNjA1NDY3NzA3NyJd; 4:WyIjbXNnLWY6MTc5NDI0NjUxNjA1NDY3NzA3NyJd"><div class="a3s aiL" id=":2i"><div class="adM">
</div><div style="font-family:'Arial',sans-serif;background-color:#ffffff;color:#333"><div class="adM">
</div><div style="background-color:#e8f4f8;padding:20px;margin:20px auto;border-radius:8px;max-width:1200px"><div class="adM">
</div><h2 style="color:#327ab7">Latest Chirps from LittleBirds.io!</h2>
<p>New opportunities waiting for you to seize them:</p>
<div style="background-color:#ffffff;padding:15px;border-radius:5px;margin-bottom:20px">
<div style="color:#327ab7;font-size:20px;font-weight:bold;margin-bottom:15px">Affirm</div>
<div>Last time we emailed you about Affirm 03-20-2024</div>
<table style="width:100%;border-collapse:collapse">
<thead>
<tr>
<th style="padding:8px;text-align:left;border-bottom:1px solid #eee"></th>
<th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">Relevant Jobs</th>
<th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">All Jobs</th>
</tr>
</thead>
<tbody>
<tr>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">Today</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">3</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">14</td>
</tr>
<tr>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This week</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">8</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">21</td>
</tr>
<tr>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This month</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">38</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">84</td>
</tr>
</tbody>
</table>
    <h4>Fresh openings:</h4>
<ul>
<li><a data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/affirm/jobs/5917557003&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw1F3P6nUkN9PTU-Xptss5o5" href="https://boards.greenhouse.io/affirm/jobs/5917557003" style="color:#327ab7;text-decoration:none" target="_blank">Senior Software Engineer (Online Storage SRE)</a></li>
<li><a data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/affirm/jobs/5794710003&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw0xihffOuS0TqbkH9r5qg87" href="https://boards.greenhouse.io/affirm/jobs/5794710003" style="color:#327ab7;text-decoration:none" target="_blank">Software Engineering Intern - Summer 2024</a></li>
<li><a data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/affirm/jobs/5794722003&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw3YS2IgRp4aWu9hYePgcQ96" href="https://boards.greenhouse.io/affirm/jobs/5794722003" style="color:#327ab7;text-decoration:none" target="_blank">Software Engineering Intern - Summer 2024</a></li>
</ul>

<div style="margin-top:10px;">
<h4>Buyer Personas:</h4>
    <ul>
        <li>
            <p>John Doe, CEO - <a href="https://linkedin.com/in/johndoe">LinkedIn</a>, johndoe@example.com</p>

        </li>
    </ul>
</div>

<div style="margin-top:10px;">
<h4>Month-Old Job Postings:</h4>
<ul>
    <li><a data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/affirm/jobs/5917557003&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw1F3P6nUkN9PTU-Xptss5o5" href="https://boards.greenhouse.io/affirm/jobs/5917557003" style="color:#327ab7;text-decoration:none" target="_blank">Senior Developer</a></li>
    <li><a data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/affirm/jobs/5917557003&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw1F3P6nUkN9PTU-Xptss5o5" href="https://boards.greenhouse.io/affirm/jobs/5917557003" style="color:#327ab7;text-decoration:none" target="_blank">Junior Developer</a></li></ul>
</div>
</div>
<div style="background-color:#ffffff;padding:15px;border-radius:5px;margin-bottom:20px">
<div style="color:#327ab7;font-size:20px;font-weight:bold;margin-bottom:15px">Square</div>
<div>Last time we emailed you about Square 03-21-2024</div>
<table style="width:100%;border-collapse:collapse">
<thead>
<tr>
<th style="padding:8px;text-align:left;border-bottom:1px solid #eee"></th>
<th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">Relevant Jobs</th>
<th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">All Jobs</th>
</tr>
</thead>
<tbody>
<tr>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">Today</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">1</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">1</td>
</tr>
<tr>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This week</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">13</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">13</td>
</tr>
<tr>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This month</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">50</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">50</td>
</tr>
</tbody>
</table>
    <h4>Fresh openings:</h4>
<ul>
<li><a data-saferedirecturl="https://www.google.com/url?q=https://jobs.smartrecruiters.com/Square/743999975535463-staff-software-engineer-cryptography-bitkey&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw1YZJ_jIC7d8G_vZktmqWux" href="https://jobs.smartrecruiters.com/Square/743999975535463-staff-software-engineer-cryptography-bitkey" style="color:#327ab7;text-decoration:none" target="_blank">Staff Software Engineer (Cryptography), Bitkey</a></li>
</ul>

<div style="margin-top:10px;">
<h4>Buyer Personas:</h4>
    <ul>
        <li>
            <p>Jane Smith, CTO - <a href="https://linkedin.com/in/janesmith">LinkedIn</a>, janesmith@example.com</p>
            <p>Alice Johnson, CEO - <a href="https://linkedin.com/in/alicejohnson">LinkedIn</a>, alicejohnson@example.com</p>
        </li>
    </ul>
</div>

<div style="margin-top:10px;">
</div>
</div>
<div style="background-color:#ffffff;padding:15px;border-radius:5px;margin-bottom:20px">
<div style="color:#327ab7;font-size:20px;font-weight:bold;margin-bottom:15px">Vonage</div>
<div>Last time we emailed you about Vonage 03-19-2024</div>
<table style="width:100%;border-collapse:collapse">
<thead>
<tr>
<th style="padding:8px;text-align:left;border-bottom:1px solid #eee"></th>
<th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">Relevant Jobs</th>
<th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">All Jobs</th>
</tr>
</thead>
<tbody>
<tr>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">Today</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">1</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">7</td>
</tr>
<tr>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This week</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">2</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">18</td>
</tr>
<tr>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This month</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">22</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">100</td>
</tr>
</tbody>
</table>
    <h4>Fresh openings:</h4>
<ul>
<li><a data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/vonage/jobs/7055202002&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw1Wkx2N8VWzAnKIGHZrEh66" href="https://boards.greenhouse.io/vonage/jobs/7055202002" style="color:#327ab7;text-decoration:none" target="_blank">Staff Java Software Developer (BSS)</a></li>
</ul>

<div style="margin-top:10px;">
<h4>Buyer Personas:</h4>
    <ul>
        <li>
            <p>Jane Smith, Head of Engineering - <a href="https://linkedin.com/in/janesmith">LinkedIn</a>, janesmith@example.com</p>
            <p>Adam Moulers, CEO - <a href="https://linkedin.com/in/alicejohnson">LinkedIn</a>, alicejohnson@example.com</p>
        </li>
    </ul>
</div>

<div style="margin-top:10px;">
<h4>Month-Old Job Postings:</h4>
    <ul><li><a data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/affirm/jobs/5917557003&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw1F3P6nUkN9PTU-Xptss5o5" href="https://boards.greenhouse.io/affirm/jobs/5917557003" style="color:#327ab7;text-decoration:none" target="_blank">Project Manager</a></li></ul>
</div>
</div>
<div style="background-color:#ffffff;padding:15px;border-radius:5px;margin-bottom:20px">
<div style="color:#327ab7;font-size:20px;font-weight:bold;margin-bottom:15px">8x8</div>
<div>Last time we emailed you about 8x8 03-20-2024</div>
<table style="width:100%;border-collapse:collapse">
<thead>
<tr>
<th style="padding:8px;text-align:left;border-bottom:1px solid #eee"></th>
<th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">Relevant Jobs</th>
<th scope="col" style="padding:8px;text-align:left;border-bottom:1px solid #eee">All Jobs</th>
</tr>
</thead>
<tbody>
<tr>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">Today</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">2</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">4</td>
</tr>
<tr>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This week</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">3</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">12</td>
</tr>
<tr>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">This month</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">4</td>
<td style="padding:8px;text-align:left;border-bottom:1px solid #eee">33</td>
</tr>
</tbody>
</table>
    <h4>Fresh openings:</h4>
<ul>
<li><a data-saferedirecturl="https://www.google.com/url?q=https://8x8inc.wd5.myworkdayjobs.com/en-US/8x8_External_Careers/job/Fuze-Portugal---Aveiro-Office/Senior-Software-Engineer_R391&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw1vp0PwDPz2pnlmfZTyXWOZ" href="https://8x8inc.wd5.myworkdayjobs.com/en-US/8x8_External_Careers/job/Fuze-Portugal---Aveiro-Office/Senior-Software-Engineer_R391" style="color:#327ab7;text-decoration:none" target="_blank">Senior Software Engineer</a></li>
<li><a data-saferedirecturl="https://www.google.com/url?q=https://8x8inc.wd5.myworkdayjobs.com/en-US/8x8_External_Careers/job/Fuze-Portugal---Aveiro-Office/Software-Engineer_R392&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw1Lu1k3MFfqiiXBgtPPSDWr" href="https://8x8inc.wd5.myworkdayjobs.com/en-US/8x8_External_Careers/job/Fuze-Portugal---Aveiro-Office/Software-Engineer_R392" style="color:#327ab7;text-decoration:none" target="_blank">Software Engineer</a></li>
</ul>

<div style="margin-top:10px;">
<h4>Buyer Personas:</h4>
    <ul>
        <li>
            <p>Bob Brown, Engineering director - <a href="https://linkedin.com/in/bobbrown">LinkedIn</a>, bobbrown@example.com</p>
        </li>
    </ul>
</div>

<div style="margin-top:10px;">
<h4>Month-Old Job Postings:</h4>
<ul><li><a data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/affirm/jobs/5917557003&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw1F3P6nUkN9PTU-Xptss5o5" href="https://boards.greenhouse.io/affirm/jobs/5917557003" style="color:#327ab7;text-decoration:none" target="_blank">Senior Developer</a></li>
    <li><a data-saferedirecturl="https://www.google.com/url?q=https://boards.greenhouse.io/affirm/jobs/5917557003&amp;source=gmail&amp;ust=1713953035973000&amp;usg=AOvVaw1F3P6nUkN9PTU-Xptss5o5" href="https://boards.greenhouse.io/affirm/jobs/5917557003" style="color:#327ab7;text-decoration:none" target="_blank">Data Analyst</a></li></ul>
</div>
</div>
<div style="text-align:center;margin-top:20px;font-size:12px;color:#777">
<p>Thank you for using LittleBirds.io.</p><div class="yj6qo"></div><div class="adL">
</div></div><div class="adL">
</div></div><div class="adL">
</div></div><div class="adL">
</div></div></div><div class="WhmR8e" data-hash="0"></div></div>
</body>
</html>
